.blanco {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.negro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin: 1%;
    height: 210px;
    width: 100%;
}

.negro2 {
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    margin: 1%;
    height: 240px;
    width: 100%;
}

.negro3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin: 1%;
    height: 75px;
    width: 100%;
}

.gris {
    background-color: rgb(12, 56, 77);
    margin: 1%;
    height: 35%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.salmonp {
    background-color: rgb(219, 78, 62);
    height: 35%;
    width: 23%;
}

.salmong {
    background-color: rgb(219, 78, 62);
    height: 35%;
    width: 45%;
}

.naranja {
    background-color: rgb(235, 109, 36);
    margin: 1%;
    height: 35%;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amarillo {
    background-color: rgb(255, 198, 11);
    height: 35%;
    margin: 1%;
    width: 98%;
}

.grisoscuro {
    background-color: rgb(72, 72, 90);
    margin: 1%;
    width: 66%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.tomate {
    background-color: rgb(243, 39, 32);
    margin: 1%;
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.azuloscuro {
    background-color: rgb(36, 71, 148);
    margin: 1%;
    height: 15%;
    width: 47%;
}

.azulclaro {
    background-color: rgb(115, 177, 202);
    margin: 1%;
    height: 15%;
    width: 95%;
}

.amarilloclaro {
    background-color: rgb(243, 243, 147);
    margin: 2%;
    height: 15%;
    width: 90%;
}

.mostaza {
    background-color: rgb(224, 192, 8);
    margin: 1%;
    height: 33%;
    width: 97%;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .negro1 {
        width: 95%;
    }

    .negro2 {
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1%;
        height: 250px;
        width: 95%;
    }

    .grisoscuro {
        height: 50%;
        width: 95%;
    }

    .tomate {
        width: 95%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .amarilloclaro {
        margin: 0.1%;
        height: 25%;
        width: 95%;
    }

    .negro3 {
        width: 95%;
    }

    .mostaza {
        width: 95%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
   
    .blanco {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    .negro1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        margin: 2%;
        height: 620px;
        width: 100%;
    }

    .negro2 {
        background-color: yellow;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 2%;
        height: 880px;
        width: 100%
    }

    .negro3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        margin: 2%;
        height: 150px;
        width: 100%;
    }

    .gris {
        background-color: rgb(12, 56, 77);
        margin: 2%;
        height: 55%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .salmonp {
        background-color: rgb(219, 78, 62);
        height: 20%;
        width: 93%;
    }

    .salmong {
        background-color: rgb(219, 78, 62);
        height: 20%;
        width: 93%;
    }

    .naranja {
        background-color: rgb(235, 109, 36);
        margin: 2%;
        height: 25%;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .amarillo {
        background-color: rgb(255, 198, 11);
        height: 35%;
        margin: 1%;
        width: 93%;
    }

    .grisoscuro {
        background-color: rgb(14, 89, 112);
        margin: 1%;
        width: 93%;
        height: 60%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
    }

    .tomate {
        background-color: rgb(240, 112, 62);
        margin: 1%;
        width: 93%;
        height: 23%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .azuloscuro {
        background-color: rgb(101, 158, 141);
        margin: 0.5%;
        height: 10%;
        width: 93%;
    }

    .azulclaro {
        background-color: rgb(110, 224, 196);
        margin: 0.5%;
        height: 10%;
        width: 93%;
    }

    .amarilloclaro {
        background-color: rgb(245, 176, 98);
        margin: 2%;
        height: 20%;
        width: 93%;
    }

    .mostaza {
        background-color: rgb(224, 192, 8);
        margin: 1%;
        height: 35%;
        width: 93%;
    }
}